<div class="home-container">
  <div id="map" class="leaflet-map"></div>

  <div class="overlay">
    <div class="content">
      <div class="image-container">
        <img ngSrc="assets/CJI.png" alt="CJI Logo" height="304" width="1039">
        <img ngSrc="assets/TPBI.png" alt="TPBI Logo" height="342" width="704">
        <img ngSrc="assets/PMB.png" alt="PMB Logo" height="342" width="1054">
      </div>
      <h1>Asociația de Dezvoltare Intercomunitară pentru Transport Public București – Ilfov</h1>
      <button class="button" (click)="navigateToPmud()">Proiecte-PMUD Actualizat</button>
    </div>
  </div>
</div>
